*{
box-sizing:border-box;
}


body{

margin:0;

background:#050505;

color:white;

font-family:
Arial,
sans-serif;

}



.navbar{

position:fixed;

top:0;

left:0;

width:100%;

height:90px;

padding:0 90px;

display:flex;

align-items:center;

justify-content:space-between;

z-index:99;

background:
rgba(0,0,0,.55);

backdrop-filter:
blur(20px);

border-bottom:
1px solid rgba(255,255,255,.08);

}



.logo{

font-size:24px;

letter-spacing:10px;

}



nav{

display:flex;

gap:45px;

}


nav a{

color:white;

text-decoration:none;

font-size:15px;

letter-spacing:2px;

}



.tools{

display:flex;

gap:20px;

font-size:13px;

color:#ccc;

}



.hero{

height:100vh;

display:flex;

align-items:center;

padding-left:12%;

position:relative;

overflow:hidden;

}



.hero-text{

z-index:2;

}



.small-title{

color:#d4af37;

letter-spacing:8px;

font-size:12px;

margin-bottom:55px;

}



h1{

font-family:
Georgia,
serif;

font-size:125px;

font-weight:400;

line-height:.95;

margin:0 0 50px;

}



.description{

font-size:22px;

line-height:2;

color:#aaa;

max-width:650px;

}



button{

margin-top:50px;

padding:22px 60px;

background:#c8a23a;

border:none;

letter-spacing:4px;

font-size:14px;

}



.hero-light{

position:absolute;

right:-200px;

width:800px;

height:800px;

background:

radial-gradient(

circle,

rgba(212,175,55,.25),

transparent 65%

);

}



.statement{

padding:160px 10%;

text-align:center;

}



.statement h2{

font-family:Georgia,serif;

font-size:65px;

font-weight:400;

}



.statement p{

font-size:22px;

color:#999;

letter-spacing:3px;

}
